@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgba(234, 231, 231, 0.653);
}

@font-face {
  font-family: "kanit-black";
  src: url("../public/fonts/Kanit-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "kanit-bold";
  src: url("../public/fonts/Kanit-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "kanit-medium";
  src: url("../public/fonts/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}
